<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<h1>投稿詳細</h1>

<ul class="posts-list">
    <li class="post-item">
      <div class="chart-section">
        <h2 class="post-title"><%= @post.product_name %></h2>
        <%= render partial: "radar_chart", locals: { post: @post } %>
      </div>

      <div class="review-section">
        <article>
          <h2 class="post-title review-title">Review</h2>
          <p><%= @post.body %></p>
        </article>
      </div>
    </li>
</ul>