/* --------------------- */
/* デスクトップ版ヘッダー */
/* --------------------- */
.desktop-header {
  /* 常に最前面に固定表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  /* 垂直方向中央寄せ */
  align-items: center;
}

.desktop-header h3 {
  font-size: 24px;
  margin-left: 40px;
}

.header-right-menu {
  /* 左側のマージンが空きスペースを吸収、結果要素全体が右寄せになる
  　　margin-right: auto; と合わせることで中央寄せにもなる */
  margin-left: auto;
  display: flex;
  /* フレックスコンテナの子要素の配置方向を、横並び(デフォ)から縦並びに変更する*/
  flex-direction: column;
  /* 縦並びにしたアイテムを中央に寄せる */
  align-items: center;
}

.header-right-menu div {
  /* 右メニューの子要素(リンクやボタン)を中央に寄せる */
  margin: auto;
  margin-bottom: 5px;
}

/* --------------------- */
/* モバイル版ヘッダー */
/* --------------------- */
.mobile-header {
  /* 常に最前面に固定表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  /* ハンバーガーメニューとログインボタンを横並びにする */
  display: flex;
  align-items: center;
  /* 最初の要素(ハンバーガーメニュー)と最後の要素(ログインボタン)を両端にする(その間の要素は等間隔) */
  justify-content: space-between;
  padding: 0 16px;
  /* 応急処置:検索バーより上に表示 */
  z-index: 100;
}

/* 隠されたメニューバー */
.mobile-nav.hidden {
  /* 要素を完全に非表示にする。レイアウト上のスペースも取らない */
  display: none;
}

/* メニューバー */
.mobile-nav {
  /* 固定表示 */
  position: fixed;
  /* 60はヘッダーの高さ。0だと閉じるボタン/ログインボタンを覆ってしまう */
  top: 60;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;

  display: flex;
  flex-direction: column;
  /* Z軸方向の要素の重なり順。大きいほど上 */
  z-index: 90;
}

.mobile-nav ul {
  padding-top: 60px;
  padding-left: 60px;
}
.mobile-nav ul:nth-child(1) {
  font-size: 20px;
}
.mobile-nav ul:nth-child(2) {
  font-size: 16px;
}

.mobile-nav li {
  margin-bottom: 20px;
}

/* ハンバーガーメニューボタン */
#menu-toggle {
  /* spanタグ3つを横並びに */
  display: flex;
  /* 横並びを縦並びに */
  flex-direction: column;
  /* 最初の要素最後の要素を両端に配置し、要素間に均等に余白を儲ける */
  justify-content: space-between;
  /* 枠線を消す。
  button要素はブラウザによって最初からボタンらしい見た目がついているのでリセット */
  border: none;
  /* 背景色を透明にする。下にある要素の背景色が透けて見える。これもデフォルトスタイルのリセットが目的 */
  background: transparent;
  /* タップ領域になる。指操作を意識した */
  width: 44px;
  height: 44px;
  /* 要素内に余白(上下に8px, 左右に5px)、見かけ以上に押しやすい */
  padding: 8px 5px;
}

/* 三本線 */
#menu-toggle span {
  /* インライ要素(spanタグ)などを<p>や<div>のようなブロック要素として扱う */
  /* ブロック要素付与により、親要素の大きさが継承、改行がなされ、幅、高さなどが指定できるようになる */
  display: block;
  width: 100%;
  height: 3px;
  /* colorは文字の色を指定する。
  空の要素の背景を塗って線を作るという理屈なのでbackground-colorが正解 */
  background-color: #fff;
}

/* jsコントローラーでchangeクラスを付与した三本線 */
#menu-toggle.change span:nth-child(1) {
  /* ratate(45deg):45°回転 */
  transform: rotate(45deg);
  /* 左端を固定して右側が回転 */
  transform-origin: left center;
}
#menu-toggle.change span:nth-child(2) {
  opacity: 0;
}
#menu-toggle.change span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: left center;
}
