/* 円形のアイコン */
.rounded-full {
  border-radius: 50%;
  /* 画像が親要素からの引き伸ばしを受けないように 'block' に設定 */
  display: block;
  /* 画像のアスペクト比を維持しつつトリミング */
  object-fit: cover;
  /* 親要素の幅が狭くなった際、親要素からはみ出さずに柔軟に縮小 */
  max-width: 100%;
}

/* マイページのアイコン */
.user-avatar {
  /* モバイル版: 縦横115pxの円形 */
  width: 115px;
  height: 115px;
}

/* postカードのアイコン */
.user-avatar-s {
  width: 35px;
  height: 35px;
}

/* 親要素に。アイコンに固定幅を設けて潰れ対策
また、対抗要素にmin-width: 0;を加えると縮小幅の制約を無視でき、スペースを確保できる */
.avatar-s-item {
  width: 35px;
  /* 縮小しない */
  flex-shrink: 0;
}

 /* PC版 */
@media (min-width: 768px) {
  .user-avatar {
    width: 200px;
    height: 200px;
  }

  .user-avatar-s {
    width: 80px;
    height: 80px;
  }

}
/* -------------------------------------- */