.my-page-container {
  display: flex;
  padding-top: 32px;
  padding-left: 16px;
  /* 横方向の子要素間にスペースを開ける */
  gap: 32px;
}

.user-info {
  display: flex;
  flex-direction: column;
  /* 縦並びの子要素にもスペースを設定できる */
  gap: 1rem;
}

.profile-actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* マイページ下線との間隔 */
  margin-bottom: 8px;
}

.profile-link-container {
  margin-left: auto;
  padding-right: 14px;
}

.edit-profile-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  /* 角を丸くする */
  border-radius: 13px;
  background-color: #7D9D76;
  color: black;
  padding: 4px 16px;
}

.edit-profile-button:hover {
  background-color: #6a8c63;
}